.page {
  height: 21cm;
  width: 29.7cm;
  padding: 1cm;
  margin: 1cm auto;
  border: 1px #d3d3d3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  position: relative;
  font-size: 14px;
}

@page {
  size: A4;
  margin: 0 0 0 0px;
}
@page rotated {
  size: landscape;
}

@media print {
  .page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
}
table {
  border-collapse: collapse; /*去掉双重的border*/
  font-size: 12px;
}

div {
  display: inline-block;
  box-sizing: border-box;
}
.top {
  position: relative;
  font-size: 18px;
}
.top-r {
  text-align: center;
  width: 3cm;
  height: 1.4cm;
  border: 1px solid #000;
  display: inline-block;
}
.top-r div {
  width: 100%;
  height: 50%;
  line-height: 0.7cm;
}
.top-r-bg {
  background-color: rgba(0, 0, 0, 0.6);
}
.R {
  position: absolute;
  left: 3.3cm;
  top: -0.2cm;
  height: 0.5cm;
  width: 0.5cm;
}
.paigong {
  font-size: 34px;
}
.bianhao {
  font-size: 14px;
  width: 5cm;
  position: absolute;
  left: 10cm;
  top: 0.4cm;
}
.bianhao span {
  color: red;
  font-size: 16px;
}
.block {
  display: block;
}
.flex {
  display: flex;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.part2 {
  margin-top: -0.7cm;
}
.part2-left,
.part2-right {
  width: 50%;
}
.block {
  line-height: 0.8cm;
}
.line {
  line-height: 0.8cm;
}
.part3-left {
  width: 75%;
}
.part3-right {
  position: relative;
  width: 25%;
}
.right-word {
  position: absolute;
  top: 5.8cm;
  right: -0.8cm;
  width: 0.5cm;
}
.part3-left-title {
  width: 40%;
  font-size: 22px;
  padding-left: 0.5cm;
}
.part3-left-input {
  width: 20%;
}
.part3-right-box {
  padding: 0.1cm;
  margin-top: 0.08cm;
  border: 1px solid #000;
}
.part3-right-box-input {
  width: 30%;
}
.right-box-part {
  width: 50%;
}
.table1 {
  width: 100%;
  font-size: 14px;
  text-align: center;
}
.table1 tr:nth-child(1) td {
  width: 50%;
}
.table1 tr td {
  height: 0.8cm;
}

.table2 {
  width: 99%;
  font-size: 14px;
  text-align: center;
}
.table2 tr:nth-child(1) td {
  width: 10%;
}
.table2 tr td {
  height: 0.77cm;
}
.part4 {
  margin-top: 0.2cm;
}
.table3 {
  width: 100%;
  text-align: center;
}
.table3 tr td {
  height: 0.72cm;
}
.table3-zhan {
  width: 20%;
}
.table4 {
  width: 100%;
}
.table4 tr td {
  position: relative;
  box-sizing: border-box;
  padding: 0 0.2cm;
  height: 0.8cm;
}
.table4-check {
  position: absolute;
  top: 0.15cm;
  right: 0.4cm;
  width: 0.6cm;
  height: 0.5cm;
  border: 1px solid #000;
}
.table4-beizhu {
  width: 50%;
  position: relative;
}
.table4-beizhu div {
  position: absolute;
  top: 0.2cm;
}

.print {
  border: 1px solid #000;
  padding: 20px;
  border-radius: 10px;
  width: 100px;
  text-align: center;
  cursor: pointer;
}
